@media only screen and (max-width: 1175px) {
    header nav ul li:last-of-type a {
        padding: 7px 9px;
        font-size: 13px;
    }
    header nav a {
        font-size: 11px;
    }
    header nav ul li {
        margin-left: 25px;
    }
    header nav ul li:first-of-type {
        margin-right: 19px;
    }
    header nav ul li:last-of-type {
        margin-left: 25px;
    }
}
@media only screen and (max-width: 1024px) {
    #toggle {
        display: none;
    }
    /**
      Hamburger
    **/
    .hamburger {
        position: absolute;
        top: 4em;
        right: 4%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;
    }

    .hamburger div {
        position: relative;
        width: 40px;
        height: 5px;
        border-radius: 3px;
        background-color: white;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
    }

    /**
    Nav Styles
    **/
    .nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        top: -100%; left: 0; right: 0; bottom: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
    }
    .nav-wrapper {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }
    nav {


    }
    nav a {
        text-decoration: none;
    }
    nav a:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0.25em;
        background-color: white;
        left: -0.5em;
        transition: all 0.2s ease-in-out;
    }
    nav a:hover {
        color: white;
    }

    /**
    Animations
    **/
    #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }
    #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }
    #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
    }

    #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
    }
    .backgr_black .d-flex{
        justify-content: center;
        display: inline-grid;
    }
    .backgr_black .d-flex a{
        margin-top: 60px;
    }
    .d-flex{
        padding-top: 1px;
        padding-bottom: 68px;
    }
    .main_banner {
        height: 60vh;
    }

}

@media only screen and (max-width: 800px) {

}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 710px) {
    .backgr_black2 h3{
        font-size: 34px;
    }
    .main_banner h1{
        font-size: 42px;
    }

}
@media only screen and (max-width: 512px) {
    .backgr_black2 h3 {
        font-size: 28px;
    }
    .Where {
        font-size: 19px;
    }
    .main_banner h1 {
        font-size: 36px;
        padding-bottom: 10px;
    }
    .backgr_black h3 {
        font-size: 34px;
    }
    .backgr_black P {
        font-size: 19px;
    }
    .li_img li {
        font-size: 8px;
    }

}
@media only screen and (max-width: 420px) {

}
@media only screen and (max-width: 379px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}