@media only screen and (max-width: 1175px) {
    header nav ul li:last-of-type a {
        padding: 7px 9px;
        font-size: 13px;
    }
    header nav a {
        font-size: 11px;
    }
    header nav ul li {
        margin-left: 25px;
    }
    header nav ul li:first-of-type {
        margin-right: 19px;
    }
    header nav ul li:last-of-type {
        margin-left: 25px;
    }
}
@media only screen and (max-width: 1024px)  {
        .backgr_black .d-flex{
        justify-content: center;
        display: inline-grid;
    }
    .backgr_black .d-flex a{
        margin-top: 60px;
    }
    .d-flex{
        padding-top: 1px;
        padding-bottom: 68px;
    }
    .main_banner {
        height: 60vh;
    }
    .main_banner2 {
        height: 60vh;
    }
    .main_banner3 {
        height: 60vh;
    }
    .main_banner4 {
        height: 60vh;
    }
    header nav ul{
        padding-top: 10px;
        justify-content: center;
    }

}

@media only screen and (max-width: 1195px) {
    .nav__list {
        padding-right: 171px;
    }
    .logo-wrap {
        padding-left: 48px;
    }
    ist-item:first-of-type {
        margin-right: 5px;
    }
    .nav__list-item {
        margin-left: 15px;
    }

}
@media only screen and (max-width: 1030px) {
    .nav__list-item:last-of-type {
        margin-left: 16px;
    }
    .nav__list-item:first-of-type {
        margin-right: 11px;
    }
    .nav__list-item:last-of-type a {
        padding: 7px 10px;
        font-size: 12px;
    }
    .nav__list-item a {
        font-size: 11px;
    }
    .nav__list {
        padding-right: 130px;
    }
    .logo-wrap {
        padding-left: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .header-wrapper {
        width: calc(100% - 100px);
    }

    .nav-but-wrap{
        display: inline-block;
    }
    .nav{
        position: fixed;
    }
    .nav__content{
        position: fixed;
        visibility: hidden;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    }
    .nav__list-item{
        opacity: 0;
    }
    .nav__list-item a{
        font-size: 17px;

    }
    .logo-wrap {
        padding-top: 24px;
    }
    .nav-but-wrap {
        left: 45px;
    }
    .nav__list {
        padding: 10px;
        flex-direction: column;
    }
    .nav__list-item a {
        font-size: 40px;
        line-height: 1;
        overflow: initial;
    }
    .nav__list-item{
        padding-bottom: 10px;
    }
    .nav__list {
    }
    .nav__list-item:last-of-type a {
        padding: 31px 40px;
        font-size: 26px;
    }


}
@media only screen and (max-width: 710px) {
    .backgr_black2 h3{
        font-size: 34px;
    }
    .main_banner h1{
        font-size: 42px;
    }

}
@media only screen and (max-width: 650px) {
    ul {
        margin-right: 55px;
    }
    header nav ul li:first-of-type {
        margin-right: -5px;
    }
    header nav ul li {
        margin-left: 18px;
    }

}
@media only screen and (max-width: 512px) {
    .backgr_black2 h3 {
        font-size: 28px;
    }
    .Where {
        font-size: 19px;
    }
    .main_banner h1 {
        font-size: 36px;
        padding-bottom: 10px;
    }
    .backgr_black h3 {
        font-size: 34px;
    }
    .backgr_black P {
        font-size: 19px;
    }
    .li_img li {
        font-size: 8px;
    }

}
@media only screen and (max-width: 400px) {
    .main_banner h3 {
        font-size: 10px;
    }
    .main_banner h1 {
        font-size: 24px;
    }
    .backgr_black h3 {
        font-size: 30px;
    }
    .backgr_black P {
        font-size: 16px;
    }
    .backgr_black2 h3 {
        font-size: 21px;
    }
    .Where {
        font-size: 16px;
    }



}
@media only screen and (max-width: 370px) {
    .nav-but-wrap {
        left: 58px;
    }
    .logo-wrap {
        padding-left: 0px;
    }
    .nav__list-item a {
        font-size: 35px;
        line-height: 1;
        overflow: initial;
    }
    .nav__list-item:last-of-type a {
        padding: 27px 35px;
        font-size: 22px;
    }

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 340px) {
    .li_img {
        right: 4px;
    }
    .main_banner h1 {
        font-size: 16px;
    }
    .main_banner h3 {
        font-size: 8px;
    }

    element.style {
    }
    .main_banner p {
        font-size: 10px;
    }
}