@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins';
}

/*main banner section*/
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 71px;
    position: relative;

}
.main_banner .container{
    max-width: 580px;
    margin: inherit;
    text-align: center;
}
.main_banner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
}
.main_banner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;

}
.li_img{
    list-style: none;
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 41px;
}
.li_img li{
    margin-left: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
.li_img li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 7px;
}
.li_img li:nth-child(2):before{
    background-image: url("../images/icon2.svg");
}
.li_img li:nth-child(3):before{
    background-image: url("../images/icon3.svg");
    width: 32px;
}
.li_img li:last-of-type:before{
    background-image: url("../images/icon4.svg");
    width: 10px;
}
.main_banner2{
    background-image: url("../images/IMAGE2.svg");
    background-size: cover;
    height: 70vh;
    position: relative;
}
.main_banner3{
    background-image: url("../images/IMAGE3.svg");
    background-size: cover;
    height: 70vh;
    position: relative;
}
.main_banner4{
    background-image: url("../images/IMAGE4.png");
    background-size: cover;
    height: 70vh;
    position: relative;
}
.backgr_black{
    background: black;
    text-align: center;
}
.backgr_black h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    padding-top: 113px;
}
.backgr_black P{
    padding-top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
}
.d-flex {
    justify-content: space-between;
    display: flex;

}
.img_padding{
    padding-top: 89px;
    padding-bottom: 140px;
    margin: auto;
    align-items: center;

}
.backgr_black a{
    display: inline-block;
    max-width: 128px;
}
.backgr_black a img{
    display: block;
    width: 100%;
}

.backgr_black2{
    background: black;
    text-align: center;
}
.backgr_black2 h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    padding-top: 113px;
    margin: auto;
    text-align: center;
}
.Where{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    padding-top: 15px;
}
.touch{
    height: 42px;
    display: inline-flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    margin-bottom: 108px;
    padding-right: 10px;
}
.touch_top{
    margin-top: 22px;
}

.touch:before {
    display: inline-block;
    content: '';
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: black;
    border-radius: 14px;
    flex-shrink: 0;
}
.block{
    display: none;
}
.product{
    background: black;
    padding: 112px 0 100px;
}
.product h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 15px;
}
.product h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-bottom: 42px;
}
.product_photo{
    max-width: 576px;
    position: relative;
}
.product_photo img{
    display: block;
    width: 100%;
}
.product h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.product p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.read_mt{
    margin-top: 17px;
}
.position_photo{
    position: absolute;
    max-width: 501px;
    padding-top: 431px;
    padding-left: 23px;
}