$main_font:'Poppins';
$black_color:black;
$white_color:white;


@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
header{
  background: $black_color;
  padding: 24px 0;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
}


